@use "../util" as *;
@use "../globals/" as *;

.card {
  width: 920px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;

  & > div {
    padding: 48px;

    & > button {
      margin-top: 75px;
    }
  }

  & > div > h1 {
    color: $Very-light-gray;
    font-size: 35px;
    font-family: $Big-Shoulders;
    font-weight: 700;
    text-transform: uppercase;
    margin: 40px 0 40px 0;
  }

  & > div > p {
    color: $Transparent-white;
    font-family: $Lexend-Deca;
  }

  &-orange {
    background-color: $Bright-orange;
  }

  &-cyan {
    background-color: $Dark-cyan;
  }

  &-dark-cyan {
    background-color: $Very-dark-cyan;
  }

  @include breakpoint-down(small){
    width: 327px;
    height: 1326px;
    flex-direction: column;
    margin: 88px 0px 88px 0;

    & > div {
      // padding: 48px;
  
      & > button {
        margin-top: 30px;
      }
    }
  }
}
